<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CST438 Project 1 - Spring 2017">
    <meta name="author" content="Dustin D'Avignon">

    <title>Project 1</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Oleo+Script+Swash+Caps" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>

{% if img %}
<body background='{{ img.display_sizes[0].uri }}'>
{% else %}
<body>
{% endif %}

    <!--<div class="navbar navbar-inverse">-->
    <!--    <div class="container-fluid">-->
    <!--        <div class="navbar-header">-->
    <!--            <div class="navbar-brand">-->
    <!--                Project 1-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <div id="wrapper">
        <div class="container text-center">
            <div class="jumbotron">
                <div class="row">
                    
                    {% if tweet %}
                    <h3>{{ tweet.text }}</h3>
                    <p class="pull-left">OG Tweet - <a href='https://twitter.com/{{ tweet.user.screen_name }}/status/{{tweet.id_str}}' target=_blank>https://twitter.com/{{ tweet.user.screen_name }}/status/{{tweet.id_str}}</a></p>
                    <p class="pull-right">- {{ tweet.user.name }}</p>
                    {% else %}
                    <p>There was an error fetching the request! Please try again...</p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <!--Latest stable -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
</body>

</html>
